body {
    background: url(../imgs/bg.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}

header {
    background-color: antiquewhite;
}

header h1 {
    padding: 15px 0;
}

#options, #question-box {
    border: 2px solid #444;
    background-color: #999;
    border-radius: 15px;
    margin-bottom: 15px;
}

#options {
    width: 370px;
}

#options button {
    margin-top: 15px;
}

#start {
    margin-bottom: 15px;
}

.dropdown:nth-child(3) .dropdown-menu {
    height: 400px;
    overflow-y: auto;
}